<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<form th:method="POST" th:action="@{/spring-mvc-app/edit?id={id}(id=${user.id})}" th:object="${user}">
    <table th:border="0" th:cellpadding="3">
        <tr>
            <td>Имя:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Почта:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Изменить">
</form>
</body>
</html>